[Desktop Entry]
Version=1.0
Name=RUPAYA Core
Comment=RUPAYA P2P Cryptocurrency
Comment[fr]=RUPAYA, monnaie virtuelle cryptographique pair à pair
Comment[tr]=RUPAYA, eşten eşe kriptografik sanal para birimi
Exec=rupaya-qt %u
Terminal=false
Type=Application
Icon=pivx128
MimeType=x-scheme-handler/rupaya;
Categories=Office;Finance;
StartupWMClass=Rupaya-qt
